/*-- Common --------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { font-family: 'SeoulNamsanM', sans-serif !important; }

:root {
    --base-font-size: 16px;
    --link-color:  skyblue;
    --link-text-decoration: ;
    --link-text-decoration--hover: underline;
}

small { font-size: 0.8em; }
#main li { margin-bottom: 5px;}

table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size:0.9em;
}

th, tr, td{
    border:1px solid rgb(151, 150, 150) !important;
}

.spnBadgeType1 {
    height:26px;
    padding:3px 5px 3px 5px;
    background-color: #b578b5;
    color:#fff;   
    text-shadow: 0px 1px 1px rgb(71, 71, 71); 
    font-size: 11px;
    border-radius: 2px;
}
/*-------------------------------------------------------------------------------------------------*/

/*-- Ebook ----------------------------------------------------------------------------------------*/
.imgEbookCover {
    width: 38px;
    height: 49px;
    vertical-align: middle;
    margin:0px 5px 10px 0px;
    border: 1px solid;
}
/*-------------------------------------------------------------------------------------------------*/

/*-- Post ----------------------------------------------------------------------------------------*/
.divYoutubeContainer
{
    display:block;
    position: relative;
    height:0;
    padding-bottom: 56.25%;
    margin-bottom: 50px;
}

.divYoutubeContainer iframe
{    
    position: absolute;
    width:100%;
    height:100%;
}
/*-------------------------------------------------------------------------------------------------*/

/*-- InfoArea ----------------------------------------------------------------------------------------*/
.divInfoArea { margin:20px 0px 50px 0px; }
.divInfoArea span {
    height:28px;
    padding:3px 5px 3px 5px;
    background-color: rgb(59, 75, 122);
    color:#fff;   
    text-shadow: 0px 1px 1px rgb(71, 71, 71); 
    font-size: 14px;
    border-radius: 2px;
}
.divInfoArea button {
    height:25px;    
    background-color: #b578b5;    
    border: none;
    outline: none;
    color:#fff;   
    text-shadow: 0px 1px 1px rgb(71, 71, 71); 
    font-size: 14px;
    cursor: pointer;
    float:right;
}
/*-------------------------------------------------------------------------------------------------*/

/*-- SocialArea ----------------------------------------------------------------------------------------*/
.divSocialArea
{
    height:0px;
    padding:0px 0px 0px 0px;
    margin:100px 0px 0px 0px;    
    text-align:center;
}
.ulSnsList { list-style: none; }
.ulSnsList li { float:left; }
.ulSnsList li img {
    width:28px;
    height:28px;
    margin-right: 5px;
    cursor: pointer;
}
.ulSnsList li button {
    height:28px;    
    background-color: #f8585b;    
    border: none;
    outline: none;
    color:#fff;   
    text-shadow: 0px 1px 1px rgb(71, 71, 71); 
    font-size: 13px;
    cursor: pointer;
}
.divShare { display:inline-block; }
/*-------------------------------------------------------------------------------------------------*/